#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "rclone"
name = "Rclone"
description.en = "Web UI for Rclone"
description.fr = "Interface utilisateur Web pour Rclone"

version = "1.72.1~ynh1"

maintainers = []

[upstream]
license = "MIT"
website = "https://rclone.org/"
userdoc = "https://rclone.org/docs/"
code = "https://github.com/rclone/rclone"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/rclone"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    help.en = "Use the help field to add an information for the admin about this question."
    help.fr = "Utilisez le champ aide pour ajouter une information à l'intention de l'administrateur à propos de cette question."
    type = "password"

[resources]

    [resources.sources]

    [resources.sources.main]
    amd64.url = "https://github.com/rclone/rclone/releases/download/v1.72.1/rclone-v1.72.1-linux-amd64.zip"
    amd64.sha256 = "b5c9b2fb6ada8a400c5fc5d48cd112dc1adea21a3b73b03857059374dd8a78d0"
    arm64.url = "https://github.com/rclone/rclone/releases/download/v1.72.1/rclone-v1.72.1-linux-arm64.zip"
    arm64.sha256 = "66ce9c7fbdf6ba38991fa2ac193ed051bd6d04aeec693900c848154bf549484f"
    armhf.url = "https://github.com/rclone/rclone/releases/download/v1.72.1/rclone-v1.72.1-linux-arm.zip"
    armhf.sha256 = "fe2eb4a8ae1ac19c8c0e9d0bbe5ee7ae37f51754dcec953e04f120dbd04a69be"
    i386.url = "https://github.com/rclone/rclone/releases/download/v1.72.1/rclone-v1.72.1-linux-386.zip"
    i386.sha256 = "d9bcc34e25b64f639a51e7be77549b2ec20eae70ba9c768104490b17952081d8"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = ".*-linux-amd64.zip"
    autoupdate.asset.arm64 = ".*-linux-arm64.zip"
    autoupdate.asset.i386 = ".*-linux-386.zip"
    autoupdate.asset.armhf = ".*-linux-arm.zip"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false

    [resources.ports]
     main.default = 5572
