[Unit]
Description=Rclone: WebGUI

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__INSTALL_DIR__/rclone gui --rc-addr 127.0.0.1:__PORT__ --rc-no-auth --rc-web-gui --rc-web-gui-no-open-browser --rc-allow-origin __DOMAIN__ --rc-baseurl https://__DOMAIN____PATH --rc-user-from-header "Ynh-User"
RestartSec=2s
Restart=always

[Install]
WantedBy=multi-user.target
