[Unit]
Description=Rclone: WebGUI

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__INSTALL_DIR__/rclone rcd --rc-web-gui --rc-addr 127.0.0.1:__PORT__ --ask-password=false --rc-web-gui-update --rc-web-gui-no-open-browser
RestartSec=2s
Restart=always

[Install]
WantedBy=multi-user.target
